@font-face {
  font-family: 'cascadia';
  src: url('../public/fonts/Cascadia.ttf');
}

@font-face {
  font-family: 'sf-display-light';
  src: url('../public/fonts/SFProDisplay-Light.ttf');
}

@font-face {
  font-family: 'sf-display-med';
  src: url('../public/fonts/SFProDisplay-Medium.ttf');
}

@font-face {
  font-family: 'sf-display-reg';
  src: url('../public/fonts/SFProDisplay-Regular.ttf');
}

@font-face {
  font-family: 'sf-display-bold';
  src: url('../public/fonts/SFProDisplay-Bold.ttf');
}

@font-face {
  font-family: 'sf-display-semi';
  src: url('../public/fonts/SFProDisplay-SemiBold.ttf');
}

body {
  background-color: #0C0C0C;
}

/* --------------------------------------------- TEXT ------------------------------------------- */

.code-text {
  color: #88FF6A;
  font-family: 'cascadia';
  font-size: 20px;
}

.name-text {
  color: #DADADA;
  font-family: 'sf-display-bold';
  font-size: 120px;
}

.title-text {
  color: #DADADA;
  font-family: 'sf-display-reg';
  font-size: 45px;
  margin-bottom: 50%;
}


.date-text {
  color: #ABABAB;
  font-family: 'cascadia';
  font-size: 20px;
  opacity: 60%;
  margin-bottom: 8px;
}

.heading-text {
  color: #DADADA;
  font-family: 'sf-display-semi';
  font-size: 30px;
}

p {
  color: #ABABAB;
  font-family: 'cascadia';
  font-size: 18px;
  line-height: 150%;
}

/* --------------------------------------------- CONTAINER ------------------------------------------- */

.container {
  max-width: 900px;
  margin-left: auto;
  margin-right: auto;
}


/* --------------------------------------------- COMPONENTS ------------------------------------------- */

.home-container {
  height: 100vh;
  width: 100vh;
  display: flex;
}

.home {
  position: absolute;
  left: calc((100% - 900px)/2);
  top: 40%;
}

.about {
  margin-bottom: 50%;
}

.player {
  border: none;
  margin-top: 25px;
}

.expierence {
  margin-top: 150px;
}

.job {
  margin-bottom: 50px;
}

.tags {
  margin-top: 30px;
  display: flex;
  flex-wrap: wrap;
}

.tag {
  font-family: 'sf-display-med';
  background-color: #243A1E;
  color: #88FF6A;
  padding: 8px 13px;
  border-radius: 30px;
  margin-right: 10px;
  margin-bottom: 10px;
}

.projects {
  margin-top: 30%;
  margin-bottom: 100px;
}

.project-widget {
  display: flex;
  margin-top: 75px;
}

.project-img {
  border-radius: 10px;
  opacity: 50%;
  margin-right: 50px;
}


/* --------------------------------------------- SIDENAV ------------------------------------------- */


.side-nav {
  position: fixed;
  bottom: 60%;
  top: 40%;
  right: 5%;
  font-family: 'cascadia';
  font-size: 18px;
  display: inline-block;
}

.side-nav a {
  color: #ABABAB;
  display: block;
  text-decoration: none;
  margin-bottom: 20px;
}


.side-nav a:hover {
  color: #88FF6A;
}

/* --------------------------------------------- SOCIALS ------------------------------------------- */


.socials {
  position: fixed;
  bottom: 60%;
  top: 40%;
  left: 5%;
}

.socials a {
  display: block;
  margin-bottom: 25px;
}

