@font-face {
  font-family: 'cascadia';
  src: url('../public/fonts/Cascadia.ttf');
}

@font-face {
  font-family: 'sf-display-light';
  src: url('../public/fonts/SFProDisplay-Light.ttf');
}

@font-face {
  font-family: 'sf-display-med';
  src: url('../public/fonts/SFProDisplay-Medium.ttf');
}

@font-face {
  font-family: 'sf-display-reg';
  src: url('../public/fonts/SFProDisplay-Regular.ttf');
}

@font-face {
  font-family: 'sf-display-bold';
  src: url('../public/fonts/SFProDisplay-Bold.ttf');
}

@font-face {
  font-family: 'sf-display-semi';
  src: url('../public/fonts/SFProDisplay-SemiBold.ttf');
}

@font-face {
  font-family: 'sf-text-reg';
  src: url('../public/fonts/SF-Pro-Text-Regular.otf');
}

body {
  background-color: #0D1117;
  margin: 0px;
}

/* --------------------------------------------- TEXT ------------------------------------------- */

.code-text {
  color: #88FF6A;
  font-family: 'cascadia';
  font-size: 16.5px;
}

.name-text {
  color: #DADADA;
  font-family: 'sf-display-bold';
  font-size: 70px;
}

.title-text {
  color: #DADADA;
  font-family: 'sf-display-reg';
  font-size: 35px;

}

.date-text {
  color: #ABABAB;
  font-family: 'cascadia';
  font-size: 16px;
  opacity: 60%;
  margin-bottom: 15px;
}

.heading-text {
  color: #DADADA;
  font-family: 'sf-display-semi';
  font-size: 23px;
}

p {
  color: #a5a5a5;
  font-family: 'sf-text-reg';
  font-size: 20px;
  line-height: 160%;
}

.exp{
  font-size: 16px;
}

/* --------------------------------------------- CONTAINER ------------------------------------------- */

.container {
  position: relative;
}

.page-container {
  display: flex;
  justify-content: space-between;
  padding-left: 96px;
  padding-right: 96px;
  padding-top: 0px;
  padding-bottom: 0px;
  min-height: 100vh;
  max-width: 1200px;
  margin-right: auto;
  margin-left: auto;
}

.content-container {
  width: 650px;
  padding-top: 96px;
  padding-bottom: 96px;
}


/* --------------------------------------------- COMPONENTS ------------------------------------------- */

.main-container {
  position: sticky;
  display: flex;
  padding-top: 96px;
  padding-bottom: 96px;
  top: 0;
  left: 0;
  max-height: calc(100vh - 192px);
  width: 50%;
  flex-direction: column;
  justify-content: space-between;
}

.home {
  width: 350px;
}

.player {
  border: none;
  margin-top: 20px;
  font-family: 'cascadia';
}

.songs{
  margin-top: 5%;
}

.expierence {
  padding-top: 25%;
}

.job {
  margin-bottom: 50px;
}

.tags {
  margin-top: 30px;
  display: flex;
  flex-wrap: wrap;
}

.tag {
  font-family: 'sf-text-reg';
  background-color: rgba(36, 58, 30, 0.400);
  color: #88ff6ae1;
  padding: 8px 13px;
  border-radius: 30px;
  margin-right: 10px;
}

.projects {
  padding-top: 20%;
}

.project-widget {
  display: flex;
  margin-top: 75px;
}

.project-img {
  border-radius: 10px;
  opacity: 50%;
  margin-right: 50px;
}


/* --------------------------------------------- SIDENAV ------------------------------------------- */


.side-nav {
  margin-top: 60px;
  font-family: 'cascadia';
  font-size: 18px;
  display: inline-block;
}

.side-nav a {
  display: block;
  text-decoration: none;
  margin-bottom: 30px;
}


.side-nav a:hover {
  color: #88FF6A !important; 
}

/* --------------------------------------------- SOCIALS ------------------------------------------- */


.socials a {
  margin-right: 40px;
}

